<div class="git-repo-search m-2">
  <div class="row">
    <div class="col m-2 heading p-3">
      Github Search
    </div>
  </div>
  <ng-select #myngselect bindLabel="full_name" bindValue="full_name" labelForId="ngSelectId" placeholder="Select item"
    appendTo="body" [searchable]="true" [(ngModel)]="selectedRepo" (keyup)="getRepoData()" [items]="repos$"
    [typeahead]="repoInput$" [loading]="repoLoading">
    <!-- <ng-option *ngFor="let item of apiData">
    {{item}}
  </ng-option> -->
    <ng-template ng-option-tmp let-item="item" class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            {{item.full_name}}
          </div>
          <div class="col text-center">
            {{item.name}}
          </div>
          <div class="col text-end">
            {{item.score}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{item.created_at | date:'full'}}
          </div>
        </div>
      </li>
    </ng-template>
  </ng-select>
</div>